html, body {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Palatino;
  font-size: 12px;
}

iframe {
  border: none;
  width: 100%;
  height: calc(100% - 80px);
}

#overlay {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0,0,0,0.2);
  z-index: 10;
  display: none;
}

/*----- connection-controls -----*/
#connection-controls {
  margin: 0 auto;
  margin-left: -180px;

  position: fixed;
  top: 30%;
  left: 50%;

  width: 320px;
  padding: 30px 0 30px 40px;
  background-color: white;
  border-radius: 5px;

  z-index: 11;
  display: none;
}
  #connection-controls > div {
    margin-bottom: 7px;
  }

  span {
    font-weight: bold;
    font-size: 1.2em;
  }

  div.connected {
    display: none;
  }

/*----- slide-controls -----*/

@media only screen and (max-width: 3600px) {
  #slide-controls {
    display: block;
  }
}
