html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

iframe {
  border: none;
}

#control {
  margin: 0 100px;
}

#actions {
  float: left;
}

#remote-control {
  float: right;
  width: 100px;
}

#toogle {
  float: left;
  width: 100%;
}

#remote-control > button {
  width: 100%;
}

#iframe-selector {
  float: left;
  width: 100%;
  margin-top:12px;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0,0,0,0.1);
}

.modal {
  position: fixed;
  top: 15%;
  left: 50%;
  width: 320px;
  background-color: white;
  margin: 0 auto;
  margin-left: -160px;
  text-align: center;
  padding: 0 10px;
}

.modal > button {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
}

.modal > button:first-child {
  margin-top: 20px;
}
